useDynLib("vsn")

importFrom("stats", "predict")

exportClasses("vsn")
export("vsn", "vsnh", "vsnPlotPar",
       "getIntensityMatrix",
       "normalize.AffyBatch.vsn", 
       "sagmbAssess", "sagmbSimulateData",
       "plotLogLik",
       "vsnMatrix")
exportMethods("meanSdPlot", "predict")

