useDynLib(vsn)

export("vsn", "vsnh", "vsnPlotPar",
       "getIntensityMatrix",
       ## "kidney", "lymphoma",
       "normalize.AffyBatch.vsn", 
       "sagmbAssess", "sagmbSimulateData",
       "meanSdPlot", "nchoosek")

